body {
    font-family: 'Josefin Sans';
    width: 100%;
}
h1 {
    font-size: calc(35px + 1.5vw);
    font-weight: 700;
    color: white;
    background-color: #c08b6f;
}
.lead {
    font-size: calc(10px + 1.8vw);
}
.container {
    margin-top: 4px;
}
label {
    font-size: calc(5px + 1.6vw);
    font-weight: 350;
}
input, textarea {
    border: double #c08b6f;
    background-color: #ffffff;
}
button {
    color: #c08b6f;
    outline: auto;
    border: solid 1px #c08b6f;
    border-radius: 5px;
    padding: 4px 8px;
    transition-duration: 0.25s;
    background-color: #ffffff;
    margin-bottom: 12px;
}
button:visited {
    content: normal;
    color: #c08b6f;
    border: solid #c08b6f;
    background-color: #ffffff;
}
button:hover {
    color: #ffffff;
    border: solid #c08b6f;
    background-color: #c08b6f; 
}
button:active {
    color: #ffffff;
    border: solid #c08b6f;
    background-color: #c08b6f; 
}
button:focus {
    color: #c08b6f;
    border: solid #c08b6f;
    background-color: #ffffff; 
}
